apiVersion: apps/v1
kind: Deployment
metadata:
  name: tickets
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tickets
  template:
    metadata:
      labels:
        app: tickets  # Asign a label (equal to the one in matchLabels) to the pod
    spec:
      containers:
        - name: tickets
          image: "thomastheprogrammer/ticket-service:dev"
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET
            - name: NATS_URL 
              value: http://nats-srv:4222
            - name: NATS_CLUSTER_ID
              value: ticketing 
            - name: NATS_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: DATABASE_URL
              value: mongodb://tickets-mongo-srv:27017/tickets
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: tickets-srv
spec:
  selector:
    app: tickets  # Asign a label (equal to the one in matchLabels of the tickets deployment) to the pod
  ports:
  - name: tickets 
    protocol: TCP
    port: 4000
    targetPort: 4000